<h1> Burger </h1>


<h3> Uneaten Burgers</h3>
<ol>
    {{#each burgers}}
    {{#unless devoured}}
    <li>{{burger_name}}
        <button class="eat" id={{burger_name}}>Eat this burger!</button>
    </li>
    {{/unless}}
    {{/each}}
</ol>
<h3> Eaten Burgers</h3>
<ol>
    {{#each burgers}}
    {{#if devoured}}
    <li>{{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ol>


<h3> Add burger</h3>
<form class="create-form">
    <div class="form-group">
        <label for="burgerForm">Burger:</label>
        <input type="text" id="burgerForm" name="burgerName">
    </div>
    <button id="submit" type="submit">Add Burger</button>
</form>

